<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Modificar Noticia</h1>
        <form method="POST" action="/guardarN">
            {% csrf_token %}
            <div class="form-group">
                <label for="idNoticia">ID Noticia</label>
                <input type="number" name="idNoticia" id="idNoticia" class="form-control" value='{{datos.idNoticia}}' readonly='true'>
            </div>

            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" id="titulo" class="form-control" value='{{datos.titulo}}'>
            </div>

            <div class="form-group">
                <label for="encabezado">Encabezado</label>
                <input type="text" name="encabezado" id="encabezado" class="form-control" value='{{datos.encabezado}}'>
            </div>

            <div class="form-group">
                <label for="descripcion">Contenido</label>
                <textarea placeholder="Contenido" name="descripcion" id="descripcion" class="form-control" value='{{datos.descripcion}}'></textarea>
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select name="categoria" id=categoria class="form-control">
                    {% for cat in categorias %}<!-- ITERA LAS CATEGORIAS Y LAS DESPLIEGA -->
                        {% if cat.idCategoria == datos.categoria.idCategoria %}
                            <option value={{cat.idCategoria}} selected="true">{{cat.nombreCategoria}}</option>
                        {% else %}
                            <option value={{cat.idCategoria}}>{{cat.nombreCategoria}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar">
                <input type="reset" value="Limpiar">
            </div>
        </form>
    </div>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
</body>
</html>