<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% csrf_token %}
</head>
<body>
    <div class="container"> 
        <div class="row">
            <table class="table">
                <tr>
                    <td> <b>Id Noticia</b> </td>
                    <td> <b>Titulo</b> </td>
                    <td> <b>Encabezado</b> </td>
                    <td> <b>Contenido</b> </td>
                    <td> <b>Categoria</b> </td>
                </tr>
                {% for n in noticias %}<!-- ITERA LAS NOTICIAS -->
                    <tr>
                        <td>{{n.idNoticia}}</td>
                        <td>{{n.titulo}}</td>
                        <td>{{n.encabezado}}</td>
                        <td>{{n.descripcion}}</td>
                        <td>{{n.categoria_id}}</td>
                    </tr>
                {% endfor %}
             </table>
        </div>
    </div>
        

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
</body>
</html>